<div class="col-md-8 col-md-offset-2">
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Please Register</h3>
        </div>
        <div class="panel-body">
            <form role="form">
                <fieldset>
                    <div class="form-group">
                        <input class="form-control" placeholder="Username" name="username" type="text" autofocus ng-model="user.username">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Password" name="password" type="password" ng-model="user.password">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Confirm Password" name="confirm-password" type="password" ng-model="user.confirmPassword">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="Name" name="name" type="text" ng-model="user.name">
                    </div>
                    <div class="form-group">
                        <input class="form-control" placeholder="E-mail" name="email" type="email" ng-model="user.email">
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gender" id="male" value="male"/>Male
                        </label>
                        <label>
                            <input type="radio" name="gender"  id="female" value="female"/>Female
                        </label>
                        <label>
                            <input type="radio" name="gender" id="other" value="other"/>Other
                        </label>
                    </div>
                    <!--<a href="index.html" class="btn btn-lg btn-success btn-block" ng-click="register(user)">Register</a>-->
                    <button class="btn btn-lg btn-success btn-block" ng-click="register(user)">Register</button>
                </fieldset>

            </form>
        </div>
    </div>
</div>
